<!DOCTYPE html>
    {% extends "base.html" %}
    {% block content %}
        <form action="/approx" method="post" novalidate>
            <div class="row">
                <div class="col-auto">
                    <h2>
                        Bounds
                    </h2>
                    <p>
                        Startpoint: <input type="text" value="{{sp}}" name="sp" />
                    </p>
                    <p>
                        Endpoint: <input type="text" value="{{ep}}" name="ep" />
                    </p>
                    <p><input type = "submit" class="btn btn-primary" name = "approximate" value = "approximate" /></p>
                </div>
                <div class="col-auto">
                    <h2>
                        Racines
                    </h2>
                    {% for i in range(racines|length) %}
                    <p>
                        Racine {{ i+1 }}: <input type="text" value="{{racines[i]}}" name="racine {{i}}" /><input type = "submit" name = "remove racine {{i}}" value = "remove racine" />
                    </p>
                    {% endfor %}
                    <p><input type = "submit" class="btn btn-primary" name = "add racine" value = "add racine" /><input type = "submit" class="btn btn-danger" name = "clear racines" value = "clear racines" /></p>
                </div>
                <div class="col-auto">
                    <h2>
                        Extrema
                    </h2>
                    {% for i in range(extrema|length) %}
                    <p>
                        Extremum {{ i+1 }}: <input type="text" value="{{extrema[i]}}" name="extremum {{i}}" /><input type = "submit" name = "remove extremum {{i}}" value = "remove extremum" />
                    </p>
                    {% endfor %}
                    <p><input type = "submit" class="btn btn-primary" name = "add extremum" value = "add extremum" /><input type = "submit" class="btn btn-danger" name = "clear extrema" value = "clear extrema" /></p>
                </div>
            </div>
        </form>
        <img src="/plot.png" class="img-thumbnail" alt="my plot">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                GeoGebra Code
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{geogebra}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                LaTeX Code
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{latex}}
              </div>
            </div>
          </div>
        </div>
    {% endblock %}